<!DOCTYPE html>
<div class="bodyAlso">
    <div class="container_1080">
        <h4>Customers also viewed:</h4>
        <div class="columnize">

            <div class="item">
                <a href="http://www.nodeschool.cl" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.jsdelivr.net/gh/fforres/gpn/images/nodeschool.jpg" alt="" />
                    </div>
                    <div class="itemContent">
                        <h3 class="itemTitle">NodeSchool SCL</h3>
                        <p class="itemDescription">We've do <i>Free Coding Workshops</i> in Santiago! Made for and by Devs.</p>
                        <p>
                            <i class="icon ion-ios-location-outline"></i> Santiago de Chile
                        </p>
                    </div>
                </a>
            </div>


            <div class="item">
                <a href="http://www.noders.com" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.jsdelivr.net/gh/fforres/gpn/images/cursos.jpg" alt="" />
                    </div>
                    <div class="itemContent">
                        <h3 class="itemTitle">Courses</h3>
                        <p class="itemDescription">We've done a various courses across Chile. (Hey! We are not all meetups)</p>
                        <p>
                            <i class="icon ion-ios-location-outline"></i> Across Chile
                        </p>
                    </div>
                </a>
            </div>


            <div class="item">
                <a href="http://www.meetup.com/es-ES/Javascript-Chile/" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.jsdelivr.net/gh/fforres/gpn/images/meetupjs.jpg" alt="" />
                    </div>

                    <div class="itemContent">
                        <h3 class="itemTitle">MeetupJS Santiago</h3>
                        <p class="itemDescription">"El Javascripto" and it's adventures! Our renewed monthy JS Meetups</p>
                        <p>
                            <i class="icon ion-ios-location-outline"></i> Santiago de Chile
                        </p>
                    </div>
                </a>
            </div>



            <div class="item">
                <a href="http://www.noders.com" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.jsdelivr.net/gh/fforres/gpn/images/noders.jpg" alt="" />
                    </div>
                    <div class="itemContent">
                        <h3 class="itemTitle">Noders</h3>
                        <p class="itemDescription">Our Latin American community! NodeJS, Javascript <i> y todas las cosas web </i> </p>
                        <p>
                            <i class="icon ion-ios-location-outline"></i> Latinoamérica
                        </p>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
