<!DOCTYPE html>
<div class="bodyAlso">
    <div class="container_1080">
        <h4>Customers also viewed:</h4>
        <div class="columnize">

            <div class="item">
                <a href="http://www.nodeschool.cl" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.rawgit.com/fforres/gpn/master/images/nodeschool.jpg" alt="" />
                        <div class="itemContent">
                            <h3 class="itemTitle">NodeSchool Santiago</h3>
                            <p class="itemDescription">Talleres gratuitos! Por y para Devs.</p>
                            <p>
                                <i class="icon ion-ios-location-outline"></i> Santiago de Chile
                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="item">
                <a href="http://www.noders.com" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.rawgit.com/fforres/gpn/master/images/cursos.jpg" alt="" />
                        <div class="itemContent">
                            <h3 class="itemTitle">Cursos</h3>
                            <p class="itemDescription">No solo de meetups vive el SE. Hemos realizamos cursos en distintos lugares del pais.</p>
                            <p>
                                <i class="icon ion-ios-location-outline"></i> Chile
                            </p>
                        </div>
                    </div>
                </a>
            </div>


            <div class="item">
                <a href="http://www.meetup.com/es-ES/Javascript-Chile/" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.rawgit.com/fforres/gpn/master/images/meetupjs.jpg" alt="" />
                        <div class="itemContent">
                            <h3 class="itemTitle">MeetupJS Santiago</h3>
                            <p class="itemDescription">El Javascripto y sus aventuras! Meetups mensuales de JS</p>
                            <p>
                                <i class="icon ion-ios-location-outline"></i> Santiago de Chile
                            </p>
                        </div>
                    </div>
                </a>
            </div>



            <div class="item">
                <a href="http://www.noders.com" target="_blank">
                    <div class="imageWrapper">
                        <img src="https://cdn.rawgit.com/fforres/gpn/master/images/noders.jpg" alt="" />
                        <div class="itemContent">
                            <h3 class="itemTitle">Noders</h3>
                            <p class="itemDescription">Comunidad LatinoAmericana! NodeJS, Javascript y todas las cosas web </p>
                            <p>
                                <i class="icon ion-ios-location-outline"></i> Latinoamérica
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
</div>
