<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="og:video" content="https://www.youtube.com/v/URg7Tva_ta4">

    <meta property="og:image" content="https://cdn.rawgit.com/fforres/gpn/master/images/1.jpeg"/>
    <meta property="og:title" content="fforres cool groupon site :)"/>
    <meta property="og:description" content="fforres cool groupon site :)"/>
    <meta property="og:url" content="http://www.fforr.es/gpn/"/>

    <meta property="og:site_name" content="fforres site!! :)"/>
    <meta property="og:type" content="profile"/>
    <meta property="fb:app_id" content="156991178053696"/>


    <meta
      name="twitter:card"
      content="player">
    <meta
      name="twitter:domain"
      content="http://www.fforr.es">

    <meta
      name="twitter:site"
      content="@fforres">
    <meta
      name="twitter:player"
      content="https://www.youtube.com/watch?v=URg7Tva_ta4">
    <meta
      name="twitter:image:src"
      content="https://cdn.rawgit.com/fforres/gpn/master/images/1.jpeg">
    <meta
      name="twitter:title"
      content="fforres cool groupon site :)">
    <meta
      name="twitter:url"
      content="http://www.fforr.es/gpn/">

    <meta name="description" content="fforres cool cv groupon site :)" />

    <title>fforres cool groupon like site!</title>
  </head>
  <body>
    <div>
      {{> searchBar}}
      {{> title}}
      {{> content}}
      {{> also}}
      {{> footer}}
    </div>
  </body>
</html>
