<!DOCTYPE html>
<meta property="og:image" content="https://cdn.rawgit.com/fforres/gpn/master/images/1.jpeg"/>
<meta property="og:title" content="fforres cool groupon site :)"/>
<meta property="og:url" content="//fforr.es/gpn"/>
<meta property="og:site_name" content="fforres site!! :)"/>

<div>
  {{> searchBar}}
  {{> title}}
  {{> content}}
  {{> also}}
  {{> footer}}
</div>
