gpn_green = #53a318
gpn_white = #fff
gpn_black = #333
gpn_grey = #75787b
gpn_input_border_color = gpn_black
gpn_input_border_radius = 2px
@font-face
 font-family ITC
 font-style 300
 src url('fonts/ITC Avant Garde Gothic/ITC Avant Garde Gothic.ttf')
@font-face {
  font-family: HelveticaNeue
  font-style: normal
  font-weight: 300
  src: url('./fonts/helveticaneueblack/HelveticaNeue-Roman.otf')
}
