@import url("~ionicons-pre/css/ionicons.css");		

gpn_green = #53a318
gpn_white = #fff
gpn_black = #333
gpn_grey = #75787b
gpn_light_grey = #a5a8ab
gpn_lighter_grey = #d5d8db
gpn_lightest_grey = #f2f2f2
gpn_input_border_color = gpn_black
gpn_input_border_radius = 2px

sans() {
  font-family: 'Open Sans', sans-serif
  font-weight: arguments
}
paddingH() {
  padding-left: arguments
  padding-right: arguments
}
verticalCenter(){
  display: flex
  vertical-align: top;
  justify-content: center
  flex-direction: column;
}
horizontalCenter() {
  display: flex
  vertical-align: middle
  justify-content: center
  flex-direction: row
}
.container_1080
  max-width: 1080px
  width: 100%;

.container_670
  max-width 690px
  width 100%
.container_250
  max-width 250px
  width 100%
.vertical
  flex-direction: column !important;
