@import url("~ionicons-pre/css/ionicons.css");

gpn_green = #53a318
gpn_white = #fff
gpn_black = #333
gpn_grey = #75787b
gpn_light_grey = #a5a8ab
gpn_lighter_grey = #d5d8db
gpn_input_border_color = gpn_black
gpn_input_border_radius = 2px

sans() {
  font-family: 'Open Sans', sans-serif
  font-weight: arguments
}
paddingH() {
  padding-left: arguments
  padding-right: arguments
}
horizontalCenter() {
  display: flex
  vertical-align: middle
  justify-content: center
  flex-direction: row
}
.container_1080
  max-width: 1080px
  width: 100%;

.container_670
  max-width 670px
  width 100%
