@charset "UTF-8";

/*!
  Ionicons, v2.0.1
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/

@font-face {
  font-family: "Ionicons";
  src: url(19e65b89cee273a249fba4c09b951b74.eot);
  src: url(19e65b89cee273a249fba4c09b951b74.eot#iefix) format("embedded-opentype"), url(dd4781d1acc57ba4c4808d1b44301201.ttf) format("truetype"), url(2c159d0d05473040b53ec79df8797d32.woff) format("woff"), url(28df6ee7b407fd8a14b40bc01f4fd3ae.svg#Ionicons) format("svg");
  font-weight: normal;
  font-style: normal;
}

.ion,.ion-alert:before,.ion-at:before,.ion-camera:before,.ion-card:before,.ion-clock:before,.ion-code:before,.ion-code-working:before,.ion-document:before,.ion-document-text:before,.ion-email:before,.ion-email-unread:before,.ion-headphone:before,.ion-heart:before,.ion-help:before,.ion-image:before,.ion-images:before,.ion-ios-analytics:before,.ion-ios-analytics-outline:before,.ion-ios-at:before,.ion-ios-at-outline:before,.ion-ios-body:before,.ion-ios-body-outline:before,.ion-ios-bookmarks:before,.ion-ios-bookmarks-outline:before,.ion-ios-camera:before,.ion-ios-camera-outline:before,.ion-ios-clock:before,.ion-ios-clock-outline:before,.ion-ios-email:before,.ion-ios-email-outline:before,.ion-ios-heart:before,.ion-ios-heart-outline:before,.ion-ios-help:before,.ion-ios-help-outline:before,.ion-ios-location:before,.ion-ios-location-outline:before,.ion-ios-mic:before,.ion-ios-mic-outline:before,.ion-ios-more:before,.ion-ios-more-outline:before,.ion-ios-people:before,.ion-ios-people-outline:before,.ion-ios-person:before,.ion-ios-person-outline:before,.ion-ios-photos:before,.ion-ios-photos-outline:before,.ion-ios-search:before,.ion-ios-time:before,.ion-ios-time-outline:before,.ion-ipod:before,.ion-key:before,.ion-link:before,.ion-location:before,.ion-log-in:before,.ion-map:before,.ion-merge:before,.ion-mic-a:before,.ion-mic-b:before,.ion-mic-c:before,.ion-more:before,.ion-person:before,.ion-pin:before,.ion-search:before,.ion-share:before,.ion-social-apple:before,.ion-social-apple-outline:before,.ion-social-css3:before,.ion-social-css3-outline:before,.ion-social-facebook:before,.ion-social-facebook-outline:before,.ion-social-github:before,.ion-social-github-outline:before,.ion-social-google:before,.ion-social-google-outline:before,.ion-social-html5:before,.ion-social-html5-outline:before,.ion-social-javascript:before,.ion-social-javascript-outline:before,.ion-social-linkedin:before,.ion-social-linkedin-outline:before,.ion-social-nodejs:before,.ion-social-pinterest:before,.ion-social-pinterest-outline:before,.ion-social-twitter:before,.ion-social-twitter-outline:before,.ion-social-youtube:before,.ion-social-youtube-outline:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ion-alert:before {
  content: "\F101";
}

.ion-at:before {
  content: "\F10F";
}

.ion-camera:before {
  content: "\F118";
}

.ion-card:before {
  content: "\F119";
}

.ion-clock:before {
  content: "\F26E";
}

.ion-code:before {
  content: "\F271";
}

.ion-code-working:before {
  content: "\F270";
}

.ion-document:before {
  content: "\F12F";
}

.ion-document-text:before {
  content: "\F12E";
}

.ion-email:before {
  content: "\F132";
}

.ion-email-unread:before {
  content: "\F3C3";
}

.ion-headphone:before {
  content: "\F140";
}

.ion-heart:before {
  content: "\F141";
}

.ion-help:before {
  content: "\F143";
}

.ion-image:before {
  content: "\F147";
}

.ion-images:before {
  content: "\F148";
}

.ion-ios-analytics:before {
  content: "\F3CE";
}

.ion-ios-analytics-outline:before {
  content: "\F3CD";
}

.ion-ios-at:before {
  content: "\F3DA";
}

.ion-ios-at-outline:before {
  content: "\F3D9";
}

.ion-ios-body:before {
  content: "\F3E4";
}

.ion-ios-body-outline:before {
  content: "\F3E3";
}

.ion-ios-bookmarks:before {
  content: "\F3EA";
}

.ion-ios-bookmarks-outline:before {
  content: "\F3E9";
}

.ion-ios-camera:before {
  content: "\F3F6";
}

.ion-ios-camera-outline:before {
  content: "\F3F5";
}

.ion-ios-clock:before {
  content: "\F403";
}

.ion-ios-clock-outline:before {
  content: "\F402";
}

.ion-ios-email:before {
  content: "\F423";
}

.ion-ios-email-outline:before {
  content: "\F422";
}

.ion-ios-heart:before {
  content: "\F443";
}

.ion-ios-heart-outline:before {
  content: "\F442";
}

.ion-ios-help:before {
  content: "\F446";
}

.ion-ios-help-outline:before {
  content: "\F445";
}

.ion-ios-location:before {
  content: "\F456";
}

.ion-ios-location-outline:before {
  content: "\F455";
}

.ion-ios-mic:before {
  content: "\F461";
}

.ion-ios-mic-outline:before {
  content: "\F460";
}

.ion-ios-more:before {
  content: "\F46A";
}

.ion-ios-more-outline:before {
  content: "\F469";
}

.ion-ios-people:before {
  content: "\F47C";
}

.ion-ios-people-outline:before {
  content: "\F47B";
}

.ion-ios-person:before {
  content: "\F47E";
}

.ion-ios-person-outline:before {
  content: "\F47D";
}

.ion-ios-photos:before {
  content: "\F482";
}

.ion-ios-photos-outline:before {
  content: "\F481";
}

.ion-ios-search:before {
  content: "\F4A5";
}

.ion-ios-time:before {
  content: "\F4BF";
}

.ion-ios-time-outline:before {
  content: "\F4BE";
}

.ion-ipod:before {
  content: "\F1FB";
}

.ion-key:before {
  content: "\F296";
}

.ion-link:before {
  content: "\F1FE";
}

.ion-location:before {
  content: "\F1FF";
}

.ion-log-in:before {
  content: "\F29E";
}

.ion-map:before {
  content: "\F203";
}

.ion-merge:before {
  content: "\F33F";
}

.ion-mic-a:before {
  content: "\F204";
}

.ion-mic-b:before {
  content: "\F205";
}

.ion-mic-c:before {
  content: "\F206";
}

.ion-more:before {
  content: "\F20B";
}

.ion-person:before {
  content: "\F213";
}

.ion-pin:before {
  content: "\F2A6";
}

.ion-search:before {
  content: "\F21F";
}

.ion-share:before {
  content: "\F220";
}

.ion-social-apple:before {
  content: "\F227";
}

.ion-social-apple-outline:before {
  content: "\F226";
}

.ion-social-css3:before {
  content: "\F4DF";
}

.ion-social-css3-outline:before {
  content: "\F4DE";
}

.ion-social-facebook:before {
  content: "\F231";
}

.ion-social-facebook-outline:before {
  content: "\F230";
}

.ion-social-github:before {
  content: "\F233";
}

.ion-social-github-outline:before {
  content: "\F232";
}

.ion-social-google:before {
  content: "\F34F";
}

.ion-social-google-outline:before {
  content: "\F34E";
}

.ion-social-html5:before {
  content: "\F4E3";
}

.ion-social-html5-outline:before {
  content: "\F4E2";
}

.ion-social-javascript:before {
  content: "\F4E5";
}

.ion-social-javascript-outline:before {
  content: "\F4E4";
}

.ion-social-linkedin:before {
  content: "\F239";
}

.ion-social-linkedin-outline:before {
  content: "\F238";
}

.ion-social-nodejs:before {
  content: "\F4E7";
}

.ion-social-pinterest:before {
  content: "\F2B1";
}

.ion-social-pinterest-outline:before {
  content: "\F2B0";
}

.ion-social-twitter:before {
  content: "\F243";
}

.ion-social-twitter-outline:before {
  content: "\F242";
}

.ion-social-youtube:before {
  content: "\F24D";
}

.ion-social-youtube-outline:before {
  content: "\F24C";
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

body {
  margin: 0;
  animation: all 150ms;
}

h1,h2,h3,h4,h5,p,li,ol {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  color: #75787b;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
  -webkit-font-smoothing: antialiased;
}

p,li,ol {
  font-size: 0.95em;
  font-weight: 400;
}

::selection {
  background-color: #53a318;
  color: #fff;
}

h1 {
  letter-spacing: -1px;
  font-size: 2.2em;
  color: #333;
}

h2 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.55em;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.3em;
}

p {
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0 0 20px;
  line-height: 1.55em;
}

hr.dotted {
  border-top: dashed #a5a8ab 1px;
}

hr.light {
  border-top: solid #d5d8db 1px;
}

@font-face {
  font-family: ITC;
  font-style: 300;
  src: url(7b0259c4bb9f7f4b016ba094035496c2.ttf);
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 300;
  src: url(06b479b25d6201103e708a7b4dd509af.otf);
}

@font-face {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 100;
  src: url(5317c1455a445e0b6069cf091c4dd64d.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSojoYw3YTyktCCer_ilOlhE.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.searchBar {
  background-color: #53a318;
  padding-bottom: 1.3em;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.searchBar .wrapper {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  align-items: space-around;
}

.searchBar .wrapper .title {
  align-self: center;
  text-transform: uppercase;
  font-family: ITC;
  font-weight: 100;
  letter-spacing: -0.045em;
  font-size: 1.7em;
  color: #fff;
  margin-right: 15px;
}

.searchBar .wrapper .searchArea {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.searchBar .wrapper .searchArea .icon {
  align-self: center;
  position: relative;
  left: 1.1em;
  top: 2px;
  font-size: 1.5em;
  z-index: 10;
  color: #75787b;
}

.searchBar .wrapper .searchArea .search {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #75787b;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding-left: 2.6em;
  font-size: 0.8em;
  height: 35px;
  border-width: 0;
  border-color: #333;
  border-radius: 2px;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.smallTopBar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

.smallTopBar .nav .link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: #fff;
  margin-left: 1.5em;
  text-decoration: none;
}

.smallTopBar .nav .link:hover {
  color: #a9d18c;
}

.smallTopBar .nav .link .icon {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1em;
  background: none;
}

.smallTopBar .nav .link .text {
  text-transform: capitalize;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.subLinks {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d5d8db;
}

.subLinks .container_1080 {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.subLinks .container_1080 .link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 1em;
  color: #75787b;
  transition: color 150ms;
  text-decoration: none;
  padding: 0.7em;
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
  transition: border-bottom-color 100ms;
}

.subLinks .container_1080 .link:hover {
  color: #333;
  border-bottom-color: #53a318;
  border-style: solid;
  border-width: 3px;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.bodyTitle {
  margin-top: 1em;
  padding: 10px;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
}

.bodyTitle .container_1080 .titleText {
  line-height: 42px;
  margin: 0;
  padding-bottom: 0.2em;
}

.bodyTitle .container_1080 .subtitleText {
  color: #666;
  margin: 0;
  padding-bottom: 0.1em;
}

@media screen and (max-width: 779px) {
  .bodyTitle .container_1080 .subtitleText {
    text-align: right;
    padding-top: 0.5em;
    font-size: 1.4em;
  }
}

.bodyTitle .container_1080 .subtitleText .Groupon {
  font-weight: bold;
  color: #53a318;
}

.bodyTitle .container_1080 .subtitleText a {
  text-decoration: none;
  transition: color 100ms;
  margin-left: 1em;
}

.bodyTitle .container_1080 .subtitleText a:visited {
  color: #666;
}

.bodyTitle .container_1080 .subtitleText a:hover {
  color: #2fabef;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.bodyContent {
  padding: 1em;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
}

.bodyContent .container_1080 .columnize {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 560px) {
  .bodyContent .container_1080 .columnize {
    flex-direction: column;
  }
}

.bodyContent .container_1080 .columnize img {
  width: 100%;
  height: auto;
  max-width: 670px;
}

.bodyContent .container_1080 .columnize .bodyDescription {
  align: justify;
}

.bodyContent .container_1080 .columnize .bodyDescription a {
  text-decoration: none;
  color: #53a318;
}

.bodyContent .container_1080 .columnize .bodyDescription a:visited {
  color: #666;
}

.bodyContent .container_1080 .columnize .bodyDescription a:hover {
  color: #2fabef;
}

.bodyContent .container_1080 .columnize .map {
  width: 50%;
  padding-bottom: 4em;
}

.bodyContent .rightSide {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 780px) {
  .bodyContent .bodySize {
    max-width: 250px;
  }
}

@media screen and (max-width: 779px) {
  .bodyContent .bodySize {
    padding: 1em;
  }
}

.bodyContent .bodySize .container_250 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  vertical-align: top;
  justify-content: center;
  text-align: center;
}

.bodyContent .bodySize .container_250 .buttonWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
}

.bodyContent .bodySize .container_250 .buttonWrapper .button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: #53a318;
  border-radius: 80px;
  font-size: 1.3em;
  padding: 1em;
  margin-bottom: 1em;
  color: #fff;
}

.bodyContent .bodySize .container_250 .description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  vertical-align: text-top;
  text-align: justify;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0;
}

.bodyContent .bodySize .container_250 .description .nutshell {
  align-self: left;
  padding: 0;
}

.bodyContent .bodySize .container_250 .description .paragraph {
  display: flex;
  justify-content: center;
  vertical-align: text-top;
  text-align: justify;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  flex-direction: column;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.bodyContent .bodySize .container_250 .alert {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  vertical-align: text-top;
  text-align: justify;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0;
  color: #f00;
  align-self: center;
}

.bodyContent .bodySize .container_250 .alert .icon {
  padding-right: 0.5em;
}

.bodyContent .bodySize .container_250 .share {
  display: flex;
  justify-content: center;
  vertical-align: text-top;
  text-align: justify;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  flex-direction: column;
}

.bodyContent .bodySize .container_250 .share .title {
  padding: 0;
}

.bodyContent .bodySize .container_250 .share .links {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bodyContent .bodySize .container_250 .share .links a {
  text-decoration: none;
  color: #75787b;
  transition: color 200ms;
}

.bodyContent .bodySize .container_250 .share .links a:hover {
  color: #53a318;
}

.bodyContent .bodySize .container_250 .share .links a:hover .icon {
  font-size: 1.8em;
}

.bodyContent .bodySize .container_250 .share .links a .icon {
  transition: font-size 200ms;
  font-size: 1.6em;
}

.bodyContent .bodySize .container_250 .borderize {
  border-top-color: #d5d8db;
  border-top-width: 1px;
  border-top-style: solid;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.bodyAlso {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.8em;
  padding-bottom: 4em;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
}

.bodyAlso .container_1080 {
  display: flex;
  vertical-align: top;
  justify-content: center;
  flex-direction: column;
}

.bodyAlso .container_1080 h4 {
  padding-left: 10px;
  padding-right: 10px;
}

.bodyAlso .container_1080 .columnize {
  flex-wrap: wrap;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.bodyAlso .container_1080 .item {
  margin-bottom: 2em;
  transition: box-shadow 100ms linear, top 100ms linear;
  display: flex;
  width: 210px;
  height: 400px;
  background-color: #f2f2f2;
  flex-direction: column;
}

.bodyAlso .container_1080 .item a {
  text-decoration: none;
}

.bodyAlso .container_1080 .item:hover {
  box-shadow: 0 0px 5px rgba(0,0,0,0.3);
}

.bodyAlso .container_1080 .item .imageWrapper {
  flex: auto;
}

.bodyAlso .container_1080 .item .imageWrapper img {
  max-width: 100%;
  background-size: contain;
}

.bodyAlso .container_1080 .item .imageWrapper .itemContent {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  vertical-align: top;
}

.bodyAlso .container_1080 .item .imageWrapper .itemContent .itemTitle {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  color: #000;
}

.container_1080 {
  max-width: 1080px;
  width: 100%;
}

.container_670 {
  max-width: 690px;
  width: 100%;
}

.container_250 {
  max-width: 250px;
  width: 100%;
}

.footer {
  padding: 1.5em;
  padding-top: 4em;
  padding-bottom: 3em;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 779px) {
  .footer {
    padding: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.footer .container_1080 {
  justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map*/