@import '../_vars.styl'
.bodyAlso
  padding-top: 1.8em
  padding-bottom: 4em
  horizontalCenter()
  .container_1080
    verticalCenter()
    h4
      paddingH(10px)
    .columnize
      horizontalCenter()
      justify-content: space-around;
    .item
      transition: box-shadow 100ms linear,top 100ms linear;
      display: flex;
      width: 250px
      height: 400px
      background-color: gpn_lightest_grey
      flex-direction: column;
      a
        text-decoration: none
      &:hover
        box-shadow 0 0px 5px rgba(0,0,0,.3)
      .imageWrapper
        flex: auto
        img
          max-width: 100%
          background-size: contain
        .itemContent
          margin: 10px 20px
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          vertical-align: top;
          .itemTitle
            margin: 0px
            padding: 0px
            padding-bottom: 10px
            color black
