<!DOCTYPE html>
<div class="searchBar">
  <div class="wrapper">
    <span class="title">FFORRES</span>
    <label class="searchArea">

      <input type="text" name="search" class="search" placeholder="Hola :) ">
    </label>
  </div>
</div>
