<!DOCTYPE html>
<hr class="light">
<div class="footer">
    <div class="container_670">
      <p>
        This is a small disclaimer to say that I really like groupon as a company, and that using their style is just to make a cool site as my presentational site.
        (Also, to practice and polish my skills using with flexbox, css, stylus, webpack, and handlebars).
      </p>
      <p>
        In no way I'm trying to sell anything with this site, on the contrary, every development, piece of code, snippet and template created here is opensource. you can see it in the <a href="http://github.com/fforres/gpn">following repo.</a>
      </p>
      <p>
        Live long and prosper!
      </p>
      <h3><b>fforres</b></h3>
    </div>
</div>
