@import '../_vars.styl'
.smallTopBar
  display: flex;
  justify-content: flex-end
  padding-bottom: 0.4em
  padding-top: 0.4em

  .nav
    .link
      sans(300)
      font-size: 0.8em
      color: gpn_white
      margin-left: 1.5em
      text-decoration: none
      &:hover
        color: #a9d18c
      .icon
        paddingH(0.3em)
        font-size: 1em
        background: none
      .text
        text-transform: capitalize
