@import '../_vars.styl'
.bodyContent
  horizontalCenter()
  .container_1080
    img
      width 100%
      height auto
      max-width 670px
  .bodyDescription
    align: justify;
    a
      text-decoration: none;
      color: gpn_green
      &:visited
        color #666
      &:hover
        color: #2fabef
