@import '../_vars.styl'
.bodyTitle
  margin-top: 1em
  padding: 10px
  horizontalCenter()
  .container_1080
    .titleText
      line-height: 42px
      margin: 0
      padding-bottom: 0.2em
    .subtitleText
      @media screen and (max-width: 779px)
        text-align: right
        padding-top: 0.5em
        font-size: 1.4em
      color #666
      margin: 0
      padding-bottom: 0.1em
      .Groupon
        font-weight: bold;
        color gpn_green
      a
        text-decoration: none
        transition: color 100ms
        margin-left: 1em
        &:visited
          color #666
        &:hover
          color: #2fabef
