<!DOCTYPE html>
<div class="searchBar">
  <div class="container_1080">
    {{> smallTopBar }}
    <div class="wrapper">
      <span class="title">fforres</span>
      <label class="searchArea">
        <i class="icon ion-ios-search"></i>
        <input type="text" name="search" class="search" placeholder="Hola :) ">
      </label>
    </div>
  </div>
</div>
{{> subLinks }}
