<!DOCTYPE html>
<div class="smallTopBar">
  <nav class="nav">
    <a class="link" href="http://www.twitter.com/fforres" target="_blank">
      <i class="icon ion-social-twitter"></i>
      <span class="text">Twitter</span>
    </a>

    <a class="link" href="http://www.facebook.com/fforres" target="_blank">
      <i class="icon ion-social-facebook"></i>
      <span class="text">Facebook</span>
    </a>

    <a class="link" href="http://www.medium.com/@fforres" target="_blank">
      <i class="icon ion-ios-bookmarks"></i>
      <span class="text">Medium</span>
    </a>
  </nav>
</div>
