<div class="subLinks">
  <div class="container_1080">
    <a class="link" href="http://www.fforr.es" target="_blank">
      <span class="text"> My site <i class="icon "></i> </span>
    </a>
    <a class="link" href="http://github.com/fforres" target="_blank">
      <span class="text">My GitHub <i class="icon ion-social-github"></i></span>
    </a>
    <a class="link" href="https://open.spotify.com/user/12124164439/playlist/0htGLKM8qDZIgP6TlEQTyp" target="_blank">
      <span class="text"> Coding music <i class="icon ion-ipod"></i></span>
    </a>
    <a class="link" href="https://open.spotify.com/user/12124164439/playlist/4johA9sDP27vcwEqqd8lWj" target="_blank">
      <span class="text">Some More music <i class="icon ion-headphone"></i></span>
    </a>
    <a class="link" href="https://www.flickr.com/photos/fforres" target="_blank">
      <span class="text">My Flickr <i class="icon ion-ios-camera"></i></span>
    </a>
  </div>
</div>
