<!DOCTYPE html>
<div class="bodySize">
  <div class="container_250">
    <div class="buttonWrapper">
      <a class="button">Buy!</a>
    </div>
    <div class="description borderize">
      <h4 class="nutshell">In a nutshell:</h4>
      <p class="paragraph">
          My name is Felipe Torres and I work at Groupon.
          <br>
          I love coding, really love JS & NodeJS, and long walks on the beach.
          <br>
          I also love teaching and working with the developer community (like a lot).
          <br>
          <b>I do:</b>
          Noders, Javascript Meetups, NodeSchool and Podcast.
          <br>
          I like dancing Salsa, hiking and people call me "fforres".
      </p>
    </div>
    <p class="alert borderize">
      <span>
        <i class="icon ion-ios-clock-outline"></i><span>LIMITED TIME! <br> (Somewhat true)</span>
      </span>
    </p>
    <div class="share borderize">
      <h4 class="title">Share!</h4>
      <div class="links">
        <a
        href="https://twitter.com/intent/tweet?text=Huh. Cool site @fforres http://fforr.es/gpn :)"
        target="_blank"
        >
          <span>
            <i class="icon ion-social-twitter"></i>
          </span>
        </a>
        <a
        href="#"
        class="facebook-share-button"
        target="_blank">
          <span>
            <i class="icon ion-social-facebook"></i>
          </span>
        </a>
        <a
          href="https://www.pinterest.com/pin/create/button?media=https://cdn.rawgit.com/fforres/gpn/master/images/1.jpeg&description=Huh. Cool site @fforres http://fforr.es :)&url=http://fforr.es/gpn"
          target="_blank"
        >
          <span>
            <i class="icon ion-social-pinterest"></i>
          </span>
        </a>
        <a href="mailto:?subject=Check this site!&amp;body=Huh. Cool site by @fforres - http://fforr.es/gpn" target="_blank">
          <span>
            <i class="icon ion-email-unread"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
