<!DOCTYPE html>
<div class="bodyContent">
    <div class="container_1080 ">
        <div class="columnize">
            <div class="leftSide">
                {{> bodyImage}}
                {{> bodyDescription}}
                {{> bodyMap}}
            </div>
            <div class="rightSide">
                {{> bodySize}}
            </div>
        </div>
        <hr class="dotted">
    </div>
</div>
