<!DOCTYPE html>
<div class="bodyContent">
    <div class="container_1080 ">
        <div class="leftSide">
            {{> bodyImage}}
            {{> bodyDescription}}
            {{> bodyMap}}
            <hr class="dotted">
        </div>
        <div class="rightSide">
        </div>
    </div>
</div>
