<!DOCTYPE html>
<div class="bodyContent">
    <div class="container_1080">
        <div class="leftSide">
            {{> bodyImage}}
            {{> bodyDescription}}
        </div>
        <div class="rightSide">
        </div>
    </div>
</div>
