<!DOCTYPE html>
<div class="bodyTitle">
  <div class="container_1080">
    <h1 class="titleText">
      100% Discount on Talks, Workshops, and community events
    </h1>
    <h2 class="subtitleText">
      <span>Software Engineer & Educator</span>
      <a
        href="https://www.google.cl/maps/place/Santiago,+Regi%C3%B3n+Metropolitana/@-33.4676037,-70.7356947,11.67z/data=!4m5!3m4!1s0x9662c5410425af2f:0x8475d53c400f0931!8m2!3d-33.4488897!4d-70.6692655"
        target="_blank"
        >Somewhere in Santiago
      <i class="icon ion-ios-location-outline"></i>
      </a>
    </h2>
  </div>
</div>
