@import '../_vars.styl'
.footer
  padding: 1.5em
  padding-top: 4em
  padding-bottom: 3em
  @media screen and (max-width: 779px)
    padding: 2em
    padding-top: 2em
    padding-bottom: 2em

  text-align: center
  horizontalCenter()
  .container_1080
    justify-content: space-around;
